body{
    padding: 100px;
}
#login-area{
    max-width: 70%;
    margin: 0 auto;
}
.bank-title{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 30px 66px rgba(0, 0, 0, 0.144422);
    padding: 40px;
    background: white;
}
#transaction{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.status{
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.status h2{
    font-weight: bold;
    font-size: 40px;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.form-control{
    max-width: 60%;
}